body {
    
    font-family: "Arial", sans-serif;
    
}


.main-menu {
    margin: 0;
    padding: 10px 15px;
    list-style: none;
    background: #515151;
    border: 1px solid #e5e5e5;
}

.main-menu li {
    display: inline;
    margin-right: 5px;
}
.main-menu a {
    color: #ffffff;
	text-decoration: none;
}