@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal
}
body{
	font-family: 'Helvetica Neue',Tahoma, sans-serif;
	height: 100vh;
	
}

.wrapper{
	
	
	width: 1215px;
	margin: 0 auto;
	height: 100vh;
	
}
header{
	width: 1215px;
	background-color: #085596;
	position: relative;
}
.main-menu{
	margin-left: 470px;
	
	
}
.main-menu li {
    display: inline-block;
	
    
}
.main-menu a{
	color: #60b5ed;
	font-size: 14px;
	text-decoration: none;
	display: block;
    padding: 10px 10px;
	
}
.main-menu a:hover {
    background: #4eabda;
	color: #ffffff;
}
.line {
	position: absolute;
	top: 2px;
	right: 370px;
}
.flag{
	position: absolute;
	top: 10px;
	right: 330px;
}
.ofertas{
	position: absolute;
	top: 10px;
	right: 228px;
}
.ofertas p{
	color: #ffffff;
	font-size: 14px;
}
.enter{
	position: absolute;
	right: 20px;
	top: 0px;
	color: #ffffff;
	background-image: linear-gradient(to top, #2e7ac4 0%, #50afdc 100%);
	font-size: 14px;
	height: 35px;
	width: 190px;
	
}
.enter p{
	padding: 10px 10px;
}
.enter a{
	color: #ffffff;
	font-size: 14px;
}
.conteiner{
	
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: auto;
	background-image: url(../img/back-img.png);
	min-height: 1030px;
	width: 1215px;
	margin-top: -1px;
	
}
.field-form{
	width:560px;
    height:610px;
	margin: 0 auto;
    background-color: rgba(0,0,0,0.5); 
}
.field-form h2{
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	border-bottom: 2px solid #c8d0c1;
	padding: 18px 10px;
}
.center{
	margin-left: 140px;
	margin-right: 140px;
}
.facebook{
	padding-top: 35px;
	padding-bottom: 25px;
}
h3{
	position: relative;
	overflow: hidden;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: #999999;
	margin-bottom: 30px;
}
h3>span{
	display: inline-block;
	}
h3>span:before,
h3>span:after{
	content: url(../img/black-grey-line.png);
	position: absolute;
}
h3>span:before{
	left: 0px;
	top: -3px;
}
h3>span:after{
	left: 160px;
	top: -3px;
}

   input[type=text]{
	  background-color: #000000;
	  color: #ffffff;
	  width: 280px;
	  min-height: 36px;
	  margin-bottom: 17px;
	  border: none;
	  padding-left: 18px;
  }
  input[type=email]{
	  background-color: #000000;
	  color: #ffffff;
	  width: 280px;
	  min-height: 36px;
	  margin-bottom: 17px;
	  border: none;
	  padding-left: 18px;
  }
  input[type=password]{
	  background-color: #000000;
	  color: #ffffff;
	  width: 280px;
	  min-height: 36px;
	  margin-bottom: 17px;
	  border: none;
	  padding-left: 18px;
  }
  input[placeholder=First Name]{
	  margin-left: 20px;
  }
  input:hover{
	  background-color: #1b5288;
	  box-shadow: 0 1px 0 #4b4b4b, inset 0 2px 5px rgba(29, 26, 22, 0.2), 0 0 9px rgba(47, 123, 197, 0.77), inset 0 0 2px rgba(0, 0, 0, 0.1);
	  color: white;
  }
  label{
	  color: #ffffff;
	  font-size: 14px;
  }
  button{
	  background: linear-gradient( to top, #2e7ac4 0%, #50aedb 100%);
	  color: #ffffff;
	  font-size: 14px;
	  height: 37px;
	  width: 150px;
	  margin-top: 25px;
	  margin-left: 65px;
	  border-radius: 3px;
	  border: none;
  }
  .field-form p{
	  color: #ffffff;
	  font-size: 11px;
	  text-align: center;
	  padding-top: 15px;
  }