@font-face {
    font-family: "LeagueGothic";
    src:
    url("../fonts/leaguegothicregular-webfont.woff") format("woff"),
    url("../fonts/leaguegothicregular-webfont.woff2") format('woff2');
    font-style: normal;
    font-weight: normal;
}
body{
  font-family: "LeagueGothic", "Open Sans", sans-serif;
}
.wrapper{

}
header{
	background:url(../img/bg-320.png);
	height: 520px;

}
h1{
  font-size: 45px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-shadow: grey 0.1em 0.1em 0.2em;
  padding-top: 68px;
  padding-bottom: 26px;
  letter-spacing: 1px;
}
h1 span{
  background: linear-gradient(to top, #33263a 0%, #745083 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.conteiner{
   width: 320px;
   margin: 0 auto;
}
 #main-menu a{
  color: #ffffff;
  font-size: 24px;
  width: 48px;
  text-align: center;
  text-transform: uppercase;
  margin-left: 140px;
  display: block;
  padding: 10px 8px;
  border-bottom: 2px solid #edbfff;
  text-decoration: none;

}
#main-menu li:hover>a{
   text-shadow: 1px 1px 2px white;
   background: #2b2231;
   border-bottom: 2px solid #edbfff;
}
#main-menu li:hover>ul{
  display: block;
}
#main-menu li{
  position: relative;
}
#main-menu ul{
  display: none;
  position: absolute;
  top: 0px;
  left: 40px;
  width: 246px;
  background: #2b2232;
  background-color: rgba(0,0,0,0.5);
  border: none;
  border-radius: 10px;
}
#main-menu ul a{
  width: 246px;
  border-top: 1px solid #5f496a;
  border-bottom: 1px solid #36283e;
  margin-left: 0px;
}

.slider{
  margin-top: 140px;
}
.slider p{
  padding-left: 40px;
  color: #ffffff;
  font-size: 35px;
  width: 270px;
  float: left;
  margin-top: -9px;
  text-transform: capitalize;
  line-height: 0.7em;
}
.slider p>span{
  font-size: 18px;
  color: #edbfff;
  text-transform: uppercase;

}
.left{
  float: left;
}
.right{
  float: right;
}
.switch{
  margin: 258px 0px 0px 120px;
}
section {
	background: linear-gradient(to top, #36293e 0%, #755183 100%);
	height: 600px;
	border-top: 1px solid #35273c;
	border-bottom: 2px solid #12191f;
	box-shadow: 0px 14px 26px -14px #808080 inset;
}
.our_compani{
   width: 320px;
  margin: 0 auto;
  padding-top: 68px
}
.our_compani1{
  width: 320px;
 margin: 0 auto;
 padding-top: 20px;
 padding-bottom: 18px;
}
.icon-block {
    padding-left: 83px;
    position: relative;
}
.icon-block:before{
    content: '';
    background: url('../img/sprite.png') -170px 0px no-repeat;
    /*margin: 0;
    margin-top: -8px;*/
    left: 14px;
    top: 60px;
    position: absolute;
    width: 50px;
    height: 50px;
    display: block;

}
.our_compani h4 {
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
}
.our_compani p{
  font-family: "Open sans";
  font-size: 16px;
  color: #ffffff;
  text-shadow: 1px 1px 2px black;
  width: 205px;
  font-weight: 100;
  padding-bottom: 15px;
  line-height: 1.5em;
}
.our_compani span{
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;

  margin-left: 155px;
}
.our_compani1 h4 {
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
}
.our_compani1 p{
  font-family: "Open sans";
  font-size: 16px;
  color: #ffffff;
  text-shadow: 1px 1px 2px black;
  width: 205px;
  font-weight: 100;
  padding-bottom: 15px;
  line-height: 1.5em;
}
.our_compani1 span{
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;

  margin-left: 155px;
}
.icon-block1 {
    padding-left: 83px;
    position: relative;
}
.icon-block1:before{
    content: '';
    background: url('../img/sprite.png') -170px 0px no-repeat;
    left: 14px;
    top: 13px;
    position: absolute;
    width: 50px;
    height: 50px;
    display: block;
  }

.update{
	background: #f9f9f9;
	min-height: 787px;
  padding-top: 70px;
  border-bottom: 1px solid #e6e6e6;
}

.update__center{
  width: 320px;
  margin: 0 auto;
}
.update__post{
  margin-left: 37px;
  width: 258px;
  height: 273px;
  background: #ffffff;
  padding: 20px 36px 0px 40px;
  margin-bottom: 20px;
}
.update__post h4{
  color: #454545;
  font-size: 24px;
  text-transform: uppercase;
}
.update__post span{
  color: #edbfff;
  font-size: 24px;
  text-transform: uppercase;
}
.update__post p{
  color: #454545;
  font-family: "Open Sans";
  line-height: 1.5em;
  padding-left: 2px;
}
.icon-block2 {

    position: relative;
}
.icon-block2:before{
    content: '';
    background: url('../img/foto-icon.png') 0px 0px no-repeat;
    left: -22px;
    top: 17px;
    position: absolute;
    width: 50px;
    height: 50px;
    display: block;
  }
  .update__switch{

    margin-left: 138px;
    margin-bottom: 40px;
  }
  .update__recent{
    padding-left: 15px;
    position: relative;
  }
  .update__recent h4{
    font-size: 30px;
    text-transform: uppercase;
    color: #454545;

  }
  .icon {
        white-space: nowrap;
}
  .icon:before {
    content: '';
    background: url(../img/sprite.png) 0px 0px no-repeat;
    left: 10px;
    top: 47px;
    position: absolute;
    width: 60px;
    height: 50px;
    display: inline-block;
  }
  .update__recent p{

    font-family: "Open Sans";
    color: #454545;
    padding: 14px 0px 7px 69px;

  }
  .update__recent span{
    font-weight: bolder;
  }
  .icon1 {
        white-space: nowrap;
}
  .icon1:before {
    content: '';
    background: url(../img/sprite.png) -60px 0px no-repeat;
    left: 10px;
    top: 110px;
    position: absolute;
    width: 60px;
    height: 60px;
    display: inline-block;
  }
  p .icon2 {
        white-space: nowrap;

}
  .icon2:before {
    content: '';
    background: url(../img/sprite.png) -120px 0px no-repeat;
    left: 13px;
    top: 182px;
    position: absolute;
    width: 60px;
    height: 60px;
    display: inline-block;
  }
  .logo{
    min-height: 423px;
    background: #f9f9f9;

  }
  .logo__center{
    width: 220px;
    margin: 0 auto;
    padding: 50px 0 0 8px;
  }
  .logo__center--img{

  }
  .logo__center--img1{
    padding: 58px 0 40px 7px;
  }
  .logo__center--img2{
    margin-left: -17px;
  }
footer{
	height: 200px;
	background: url(../img/bg-footer320.png);
}
.copyright{
  width: 320px;
  margin: 0 auto;
  padding: 36px 0 0 85px;
}
.copyright p{
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 12px;
  text-shadow: 1px 1px 2px grey;
}
.copyright span{
  font-weight: bolder;
}
