body {
    
    font-family: "Arial", sans-serif;
	background-color: #ffffff;
	margin: 50px;
	width: 965px;
	
    
}
.conteiner{
	
	margin: 0 auto;
}
.logo{
	
	margin-bottom: 45px;
	
}

.main-menu {
    margin: 0;
    padding: 0;
    background-color: #585858;
	font-family: Open Sans, sans-serif;
	font-size: 15px;
    
}

.main-menu li {
    display: inline-block;
    margin-right: -4px;
	
	
}
.main-menu li:hover{
	background: #464646;
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
}
.main-menu li:nth-child(1) {
	width: 150px;
	padding-left: 15px;
	}
.main-menu li:nth-child(2) {
	width: 100px;
	text-align: center;
	
	}
.main-menu li:nth-child(3) {
	width: 170px;
	text-align: center;
	}


.main-menu a {
    color: #ffffff;
	text-decoration: none;
	display: block;
    padding: 8px 10px;
	padding: 12px 15px;
}
header{
	margin-bottom: 40px;
}
.vertical-menu {
	margin-right: 0;
	padding: 0;
	width: 240px;
	float: left;
	font-family: Open Sans, sans-serif;
	font-size: 13px;
	
}
.vertical-menu a:hover{
	color: #2c2c2c;
	padding-left: 40px;
}


.vertical-menu a {
    display: block;
	margin-bottom: -1px;
    border: 1px solid #c8c8c8;
	padding: 14px 25px;
	text-decoration: none;
	color: #7a7878;
       
}
.content{
	float: right;
	width: 680px;
	min-height: 585px;
	margin-bottom: 65px;
}
.main-picture{
	border: 1px solid #c8c8c8;
	padding-left: 85px;
	padding-top: 50px;
	min-height: 400px;
	margin-bottom: 40px;
}
p{
	font-family: Open Sans, Myriad Pro, sans-serif;
	font-size: 13px;
	color: #2c2c2c;
	line-height: 1.7;
	padding-left: 25px;
}
.site_map {
	clear: both;
	margin-bottom: 60px;
    padding: 0;
    background-color: #e1e1e1;
	font-family: Open Sans, sans-serif;
	font-size: 13px;
	color: #2c2c2c;
}
.site_map li{
    display: inline-block;
    margin-right: -4px;	
}
.site_map li:hover{
	text-decoration: underline;
}
.site_map a{
	color: #2c2c2c;
	text-decoration: none;
	display: block;
    padding: 12px 12px;
}
.site_map li:nth-child(1){
	width: 100px;
	text-align: center;
}
.site_map li:nth-child(2){
	width: 150px;
	text-align: center;
	
}
.site_map li:nth-child(3){
	width: 130px;
	text-align: center;
}
.site_map li:nth-child(4){
	width: 400px;
	text-align: left;
	padding-left: 50px;
}
.site_map li:nth-child(5){
	text-align: center;
}